[Unit]
Description=carbon.cc grafana
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/opt/ccc/bin/ccc-grafana-start
ExecStop=/opt/ccc/bin/ccc-grafana-stop

[Install]
WantedBy=multi-user.target
